VITE_AUTH_PREFIX=http://localhost:5000/auth
VITE_DASH_PREFIX=http://localhost:5000/dash
VITE_SUMMARIZE_PREFIX=http://localhost:5000/summarize
VITE_TRACK_PREFIX=http://localhost:5000/track
VITE_API_BASE_URL=http://localhost:5000
